* {
  --title-font: "montserrat";
  --text-font: "Raleway";
  --main-text-size: 16px;
  --main-title-size: 64px;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3 {
  font-family: var(--title-font);
  font-size: var(--main-title-size);
}

p {
  font-family: var(--text-font);
  font-size: var(--main-text-size);
}
